<md-tab-group dynamicHeight="true">

    <md-tab>
        <template md-tab-label>
            Model (<em>{{ model.name }}.php)</em>
        </template>
        <md-card class="example-card">
            <md-card-content>
                <pre class="" id="{{ model.name }}.php">
                    <code class="language-php">
{{ model | compile:'model' }}
                    </code>
                </pre>
            </md-card-content>
            <md-card-actions>
                <button md-button color="primary" (click)="download((model.name+'.php'))">DOWNLOAD</button>
                <button md-button color="accent">COPY</button>
            </md-card-actions>
        </md-card>
    </md-tab>
    <md-tab *ngIf="(model.migration)">
        <template md-tab-label>
            Migration (<em>{{ model.id }}_create_{{ model.name | lowercase | pluralize }}_table.php)</em>
        </template>
        <md-card class="example-card">
            <md-card-content>
                <pre class="" id="{{ model.id }}_create_{{ model.name }}_table.php">
                    <code class="language-php">
{{ model | compile:'migration'}}
                    </code>
                </pre>
            </md-card-content>
            <md-card-actions>
                <button md-button color="primary" (click)="download(( model.id +'_create_'+( model.name )+'_table.php'))">DOWNLOAD</button>
                <button md-button color="accent">COPY</button>
            </md-card-actions>
        </md-card>
    </md-tab>
    <md-tab>
        <template md-tab-label>
            Controller (<em>{{ model.name }}Controller.php)</em>
        </template>
        <md-card class="example-card">
            <md-card-content>
                <pre class="" id="{{model.name}}Controller.php">
                    <code class="language-php">
{{ model | compile: 'controller' }}
                    </code>
                </pre>
            </md-card-content>
            <md-card-actions>
                <button md-button color="primary"  (click)="download((model.name +'Controller.php'))">DOWNLOAD</button>
                <button md-button color="accent">COPY</button>
            </md-card-actions>
        </md-card>
    </md-tab>
    <md-tab>
        <template md-tab-label>
            Create Request (<em>Create{{ model.name }}APIRequest.php)</em>
        </template>
        <md-card class="example-card">
            <md-card-content>
                <pre class="" id="Create{{ model.name }}APIRequest.php">
                    <code class="language-php">
{{ model | compile:'createRequest' }}
                    </code>
                </pre>
            </md-card-content>
            <md-card-actions>
                <button md-button color="primary" (click)="download(('Create'+ model.name +'APIRequest.php'))">DOWNLOAD</button>
                <button md-button color="accent">COPY</button>
            </md-card-actions>
        </md-card>
    </md-tab>

    <md-tab>
        <template md-tab-label>
            Update Request (<em>Update{{ model.name }}APIRequest.php)</em>
        </template>
        <md-card class="example-card">
            <md-card-content>
                <pre class="" id="Update{{ model.name }}APIRequest.php">
                    <code class="language-php">
{{ model | compile: 'updateRequest'}}
                    </code>
                </pre>
            </md-card-content>
            <md-card-actions>
                <button md-button color="primary" (click)="download(('Update'+ model.name +'APIRequest.php'))">DOWNLOAD</button>
                <button md-button color="accent">COPY</button>
            </md-card-actions>
        </md-card>
    </md-tab>

    <md-tab>
        <template md-tab-label>
            Repository (<em>Create{{ model.name }}Repository.php)</em>
        </template>
        <md-card class="example-card">
            <md-card-content>
                <pre class="" id="Create{{ model.name }}Repository.php">
                    <code class="language-php">
{{ model | compile:'repository' }}
                    </code>
                </pre>
            </md-card-content>
            <md-card-actions>
                <button md-button color="primary" (click)="download(('Create'+model.name+'Repository.php'))" >DOWNLOAD</button>
                <button md-button color="accent">COPY</button>
            </md-card-actions>
        </md-card>
    </md-tab>

</md-tab-group>
