<md-tab-group dynamicHeight="true">
    <md-tab>
        <template md-tab-label>
            Model (<em>{{ model.name }}.php)</em>
        </template>
        <md-card class="example-card">
            <md-card-content>
                <pre class="">
                    <code class="language-php">
<?php

namespace App\Models;

use Eloquent as Model;
<template [ngIf]="model.softDelete">use Illuminate\Database\Eloquent\SoftDeletes;</template>

/**
 * Class {{ modelname }}
 * @package App\Models
 * @version January 27, 2017, 6:26 am UTC
 */
class {{ model.name }} extends Model
{{'{'}}
    <template [ngIf]="model.softDelete">use SoftDeletes;</template>

    public $table = '{{ model.name | lowercase | pluralize}}';

    protected $dates = [
        <template [ngIf]="model.softDelete">'deleted_at',</template>
    ]

    public $fillable = [
        <template ngFor let-field [ngForOf]="(model.fields | filter: 'fillable': true)"> '{{field.name}}',
        </template>
    ];

    /**
     * The attributes that should be casted to native types.
     *
     * @var array
     */
    protected $casts = [

    ];

    /**
     * Validation rules
     *
     * @var array
     */
    public static $rules = [
        <template ngFor let-field [ngForOf]="(model.fields)"> '{{field?.name}}' => '{{field?.validations}}',
        </template>
    ];

{{'}'}}
</code>
        </pre>
            </md-card-content>
            <md-card-actions>
                <button md-button color="primary">DOWNLOAD</button>
                <button md-button color="accent">COPY</button>
            </md-card-actions>
        </md-card>
    </md-tab>
    <md-tab *ngIf="(model.migration)">
        <template md-tab-label>
            Migration (<em>{{ model.id }}_create_{{ model.name | lowercase | pluralize }}_table.php)</em>
        </template>
        <md-card class="example-card">
            <md-card-content>
<pre class="">
    <code class="language-php">
<?php

use Illuminate\Database\Migrations\Migration;
use Illuminate\Database\Schema\Blueprint;

class Create{{ model.name | pluralize }}Table extends Migration
{{'{'}}

    /**
     * Run the migrations.
     *
     * @return void
     */
    public function up()
    {{'{'}}
        Schema::create('{{ model.name | lowercase | pluralize }}', function (Blueprint $table) {{'{'}}
            $table->increments('id');
            <template ngFor let-field [ngForOf]="(model.fields)">$table->{{field.db_type}}('{{field.name}}');
            </template>
            <template [ngIf]="model.polymorphic">$table->morphs('{{ model.name | lowercase }}able');</template>
            <template [ngIf]="model.timestamps">$table->timestamps();</template>
            <template [ngIf]="model.softDelete">$table->softDeletes();</template>
        {{'}'}});
    {{'}'}}

    /**
     * Reverse the migrations.
     *
     * @return void
     */
    public function down()
    {{'{'}}
        Schema::drop('{{ model.name | lowercase | pluralize }}');
    {{'}'}}

{{'}'}}
        </code>
</pre>
            </md-card-content>
            <md-card-actions>
                <button md-button color="primary">DOWNLOAD</button>
                <button md-button color="accent">COPY</button>
            </md-card-actions>
        </md-card>
    </md-tab>
</md-tab-group>
