<!--<counter></counter>-->
<!--<counter-info></counpmnter-info>-->
<!--<search></search>-->
<!--<hr>-->
<!--<select-by-path></select-by-path>-->

<md-sidenav-container class="example-sidenav-fab-container">
    <md-sidenav #sidenav mode="side" opened="true">
        <app-side-menu></app-side-menu>
    </md-sidenav>

    <div class="example-scrolling-content" fxLayout="column">
        <md-toolbar color="primary">
            <button class="example-fab" md-icon-button (click)="sidenav.toggle()">
                <md-icon>menu</md-icon>
            </button>
            <span>Laravel Generator</span>
        </md-toolbar>
        <section fxLayout="row" fxFlex class="overflow-auto">
            <model></model>
            <!--<div fxLayout="column">-->
                <!--<select-root-state></select-root-state>-->
            <!--</div>-->
        </section>
    </div>
</md-sidenav-container>
